<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jhon Jairo, soy de Colombia y tengo 15 años. Empecé aprendiendo mi primer lenguaje, Python. Actualmente estoy <strong
        >desarrollando videojuegos con Unity y C#</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >ganar las Olimpiadas Tech en el año 2023</strong
      > y desarrollar una solución tecnológica para la empresa Renting Colombia.
    </p>
  </div>
  <img src="/jhonzasd-photo.webp" class="rounded-full size-64 order-1 md:order-2" />
</section>